*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Work Sans', sans-serif;
}
/* Header section styles started */

.btn-primary{ 
    background-color: #F15B22;
    color: #F0F8FF;
    border: 0;
    padding: 10px;
    border-radius: 5px;
}

.header-banner{
    background-image: url("../images/banner/banner2.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.header-alignment{
    text-align-last: right;
    width: 425px;
    height: 28px;
    padding-top: 136px;
    padding-left: 450px; 
    padding-bottom: 10px;
}
.header-alignment h1 {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 24px;
}
.header-alignment p{
    margin-bottom: 16px;
}
/* end header section */

/* my section styles start  */
.my-section{
    background-image: url("../images/tu.jpg");
    height: 900px;
    width: 100%;
    margin-top: 20px;
   text-align: center;
}
.my-section-img{
    height: 62px;
        width: 62px;
        display: flex; 
      justify-content: left;
      padding: 16px;
      position: absolute;
}
.my-section-bar ul{
    display: flex;
    justify-content: right;
    list-style: none;
}
.my-section-bar ul li{
    list-style: none;
    margin-right: 8px;
    padding: 10px;
    color: rgb(73, 23, 23);
}
.my-section-header{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.my-section-header h2{
    margin-bottom: 16px;
    font-size: 64px;
    font-weight: 700;
}
    /* course detials start  */
    .section-available{
        text-align: center;
        margin-top: 30px;
    }
    .section-available h2{
        font-weight: 700;
        margin-bottom: 10px;
    }
.courses-details{
    display: flex;
    justify-content: space-around;
    margin: 30px 50px;
    padding: 16px;
    }
.courses-name{
        background-color: rgb(210, 183, 187);
        margin-right: 10px;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
    }
    .courses-name h3{
        margin-bottom: 10px;
    }
        /* course detials end  *
    /* my section styles end  */

/* failures-section start */

.failures-section{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 60px;
    gap: 50px; 
     /* position: absolute; */
}
.section-image{
    height: 500px;
    width: 370px;
}
.previous-year{
    margin-top: 150px;
    height: 400px;
    width: 416px;
  /* position: relative; */
}
.previous-year h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}
.previous-year p{
    margin-bottom: 16px;
}
ul li {
    list-style: url(../images/icons/tick-mark-icon.svg);
    /* tick mark add */
    margin-bottom: 5px;
}
/* previous year section end */
/* my plans  styles start */

.my-plans{
    text-align: center;
    padding: 10px 100px;
    margin-bottom: 40px;
}
.my-plans-header{
    font-size: 64px;
    margin-bottom: 32px;
    font-weight: 700;
}
.my-future-plans{
    display: flex;
    justify-content: space-around;
}
.my-future-plans-img {
    height: 64px;
    width: 64px;
    margin-bottom: 10px;
}
.my-future-plans h2 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 28px;
}
/*My plans section styles end  */

/* start positive mindset */
.positive-mindset{
    background-image: url("../images/watch.png"), linear-gradient(0.25turn, #651c39, #58ece5, #f69d3c);
    background-blend-mode: soft-light;
    height: 150px;
    width: 800px;
    padding: 10px 50px;
    margin-left: 100px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.positive-mindset-header{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}
.btn-secondary{
    background-color: #FFF;
        color: #F15B22;
        border: 0;
        padding: 10px;
        border-radius: 5px;
        font-size: 22px;    
}
 /*end positive mintset */

 /* add footer section styles  */
 .footer-section{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: #FFF;
    padding: 50px 100px;
    margin-bottom: 10px;
 }
 .footer-future{
    padding: 5px 40px;
 }
 .footer-header{
    font-weight: 700;
    margin-bottom: 16px;
 }
 .footer-future p{
    margin-bottom: 20px;
 }
 .footer-icon img{
    padding: 10px;
 }

 .footer-subscription{
    width: 325px;
        height: 204px;
        padding: 30px 5px;
 }
 .footer-subscribsion-header{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 24px;
 }
 .input-email{
    height: 24px;
    width: 190px;
    padding: 10px;
    background-color: #000;
    color: #FFF;
    margin-bottom: 20px;
    border: 1px solid #808080;
 }
.input-email:hover{
    background-color: rgb(52, 6, 6);
    transition: 0.4s;
}
/* end footer sectioon style */