*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Work Sans', sans-serif;
}
/* Header section styles started */

.btn-primary{ 
    background-color: #F15B22;
    color: #F0F8FF;
    border: 0;
    padding: 10px;
    border-radius: 5px;
}

.header-banner{
    background-image: url("../images/banner/banner2.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.header-alignment{
    text-align-last: right;
    width: 425px;
    height: 28px;
    padding-top: 136px;
    padding-left: 450px; 
    padding-bottom: 10px;
}
.header-alignment h1 {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 24px;
}
.header-alignment p{
    margin-bottom: 16px;
}
/* end header section */

/* failures-section start */
.failures-section{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 60px;
    gap: 50px; 
     /* position: absolute; */
}
.section-image{
    height: 500px;
    width: 370px;
}
.previous-year{
    margin-top: 150px;
    height: 400px;
    width: 416px;
  /* position: relative; */
}
.previous-year h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}
.previous-year p{
    margin-bottom: 16px;
}
ul li {
    list-style: url(../images/icons/tick-mark-icon.svg);
    /* tick mark add */
    margin-bottom: 5px;
}
/* previous year section end */
/* my plans  styles start */

.my-plans{
    text-align: center;
    padding: 10px 100px;
    margin-bottom: 40px;
}
.my-plans-header{
    font-size: 64px;
    margin-bottom: 32px;
    font-weight: 700;
}
.my-future-plans{
    display: flex;
    justify-content: space-around;
}
.my-future-plans-img {
    height: 64px;
    width: 64px;
    margin-bottom: 10px;
}
.my-future-plans h2 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 28px;
}
/*My plans section styles end  */

/* start positive mindset */
.positive-mindset{
    background-image: url("../images/watch.png"), linear-gradient(0.25turn, #651c39, #58ece5, #f69d3c);
    background-blend-mode: soft-light;
    height: 150px;
    width: 800px;
    padding: 10px 50px;
    margin-left: 100px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.positive-mindset-header{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}
.btn-secondary{
    background-color: #FFF;
        color: #F15B22;
        border: 0;
        padding: 10px;
        border-radius: 5px;
        font-size: 22px;    
}
 /*end positive mintset */